{% load wagtailcore_tags wagtailimages_tags %}

<div class="row mb-4">
    <div class="col-sm-12 text-center">
        <h2 class="mb-0"> {{ value.title }}</h2>
        <small>{{ value.date }}</small>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 text-center">
        <p><i class="fa fa-volume-up"></i></p>
        {% if value.sound.file.url != None %}
            <audio controls>
                <source src="{{ value.sound.file.url }}" type="audio/mp3">
                <p>Your browser doesn't support HTML5 audio. Here is a <a href="{% include_block value.sound.file.url %}">link to the audio</a> instead.</p>
            </audio>
        {% else %}
            <p>No sound evidence</p>
        {% endif %}
    </div>
    <div class="col-sm-4 text-center">
        <p><i class="fa fa-image"></i></p>
        {% if value.image != None %}
            {% image value.image width-140 as theimage %}
            {% image value.image width-440 as lightboximage %}
            
            <a href="{{ lightboximage.url }}" data-lightbox="{% include_block value.title %}" data-title="{{ theimage.alt }}"><img class="img-fluid thumbnail" src="{{ theimage.url }}" width="{{ theimage.width }}" height="{{ theimage.height }}" alt="{{ theimage.alt }}" /></a>
            
            <p class="py-0 small">Touch/Click to Enlarge</p>
        {% else %}
            <p>No image evidence</p>
        {% endif %}
    </div>
    <div class="col-sm-4 text-center">
        <p><i class="fa fa-video-camera"></i></p>
        {% if value.embed != None %}
            {{ value.embed }}
        {% else %}
            <p>No video evidence</p>
        {% endif %}
    </div>
</div>
<hr style="border-top: 2px solid #eee">
