<article class="text-center {% if self.alignment != 'center' %}text-sm-{{ self.alignment }} {% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4">
                {% include "includes/streamfield.html" with content=self.left_column only %}
            </div>
            <div class="col-12 col-sm-4">
                {% include "includes/streamfield.html" with content=self.middle_column only %}
            </div>
            <div class="col-12 col-sm-4">
                {% include "includes/streamfield.html" with content=self.right_column only %}
            </div>
        </div>
    </div>
</article>