{% load mass_analytics_tags wagtailcore_tags %}
{% get_site_root as site_root %}


<nav class="navbar navbar-expand-sm bg-light" role="navigation">
    <a class="navbar-brand" href="/">
        <img width="35px" class="d-inline-block align-top" alt="Mass Analytics" src="/media/images/mass-analytics-logo-small.original.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="material-icons">menu</i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% pageurl site_root %}">Home <span class="sr-only">(current)</span></a>
            {% for menuitem in menuitems %}
                <li class="nav-item">
                    <a class="nav-link {% if menuitem.active %}active{% endif %}" href="{% pageurl menuitem %}">{{ menuitem.title }} {% if menuitem.active %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
            {% endfor %}                   
        </ul>
        <ul class="social-media">
            <li class="mr-3"><a target="_blank" href="https://www.facebook.com/massanalytics1"><i class="fa fa-facebook" aria-hidden="true"></i><span class="sr-only">Facebook</span></a></li>
            <li class="mr-3"><a target="_blank" href="https://twitter.com/Mass_Analytics"><i class="fa fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a></li>
            <li class="mr-3"><a target="_blank" href="https://google.com/+MassanalyticsUK"><i class="fa fa-google-plus" aria-hidden="true"></i><span class="sr-only">Google Plus</span></a></li>
            <li class="mr-3"><a target="_blank" href="https://www.linkedin.com/company/mass_analytics"><i class="fa fa-linkedin" aria-hidden="true"></i><span class="sr-only">LinkedIn</span></a></li>
            <li><a class="btn btn-primary btn-sm" href="/request-demo/">REQUEST A DEMO</a></li>
        </ul>
    </div>
</nav>