{% load flinthillsparanormal_tags wagtailcore_tags %}
{% get_site_root as site_root %}


<nav class="navbar navbar-expand-md bg-light" role="navigation">
    <a class="navbar-brand" href="/">
        <img class="img-fluid" alt="Flint Hills Paranormal" src="/media/images/fhp-logo-modified.original.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="material-icons">menu</i>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% pageurl site_root %}">Home <span class="sr-only">(current)</span></a>
            {% for menuitem in menuitems %}
                <li class="nav-item">
                    <a class="nav-link {% if menuitem.active %}active{% endif %}" href="{% pageurl menuitem %}">{{ menuitem.title }} {% if menuitem.active %}<span class="sr-only">(current)</span>{% endif %}</a>
                </li>
            {% endfor %}                   
        </ul>
    </div>
</nav>
